.card.about {
    position: relative;
    height: auto;
    padding-bottom: 8px;
}

.card.about.firsttime {
    cursor: pointer;
}

.card.about .title {
    font-size: 18px;
}

.card.about p {
    font-size: 15px;
    margin: 0 5px 5px 5px;
    font-weight: 400;
}

.card.about .close {
    display: none;
}

.card.about.firsttime .close {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    display: block;
}

@media (min-width: 800px) {
    .card.about {
        margin-right: 50%;
        margin-left: 25%;
    }
}