.contents {
    /* Prevent station labels from moving around */
    position: relative;
}

.contents ul.allstations > li.card {
    height: 40px;
    margin: 8px; /* smaller margin */
}

.contents ul.allstations .none {
    text-align: center;
    display: none;
}

.contents .card:last-child {
    /* bug fix to allow scrolling; accounts for header */
    margin-bottom: 50px !important;
}