.card.trip {
    height: 150px;
    background-color: white;
    /* Default if no geolocation */
    background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=38.898567,-77.027887&zoom=12&size=584x150);
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}
.card.trip .bottom-button {
    background: rgba(255,255,255,0.7);
    position: absolute;
    margin-top: 111px;
    position: relative;
}

@media (min-width: 800px) {
    div.card.trip {
        height: 156px; /* in line with closest stns */
    }
    div.card.trip .bottom-button {
        margin-top: 116px;
    }
    div.card.trip.withmiles {
        height: 192px; /* in line with closest stns */
    }
    div.card.trip.withmiles .bottom-button {
        margin-top: 153px;
    }
}