.card.incident {
    height: auto;
    padding-bottom: 4px;
}
.card.incident .title {
    color: red;
}
.card.incident > p {
    font-size: 14px;
    margin: 3px 10px;
}

div.card.incident.nocolor {
    color: black;
}

.card.show-incidents {
    height: 38px;
}
.card.show-incidents .bottom-button {
    top: -1px;
    color: red;
}

.card.homeincidents {
    height: 38px;
}
.card.homeincidents .bottom-button {
    top: -1px;
}

@media (min-width: 800px) {
    div.card.show-incidents, div.card.homeincidents {
        width: calc(100% - 20px)
    }
    div.contents > div.card.show-incidents {
        width: 100%;
        float: none;
    }
}